.timeBox {
  color: rgb(16, 19, 34);
    font-size: 30px;
    font-weight: bold;
  text-align: center;

}
.codes{
  background-color: rgb(255, 255, 255);
  padding: 0px 40px;
  margin: 2px 4px ;
  border-radius: 3px;

}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 
@media (max-width: 1100px) {
  .timeBox {
    color: white;
    font-size: 80px;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .timeBox {
    color: white;
    font-size: 70px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .timeBox {
    color: white;
    font-size: 50px;
    text-align: center;
  }
} */
