.heading {
  font-size:55px;
  color: rgb(206, 218, 255);
  margin: 10px;
  font-family: "Lato", sans-serif;
}
.me{
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
    color: rgb(48, 54, 85);
    font-family: "Lato", sans-serif;
}

.App {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
